.ding .p-zhanshi {
  width: 2.1rem;
  max-height: 2.1rem;
  overflow: hidden;
  margin: 0 0.2rem 0.2rem 0;
}
.ding .rang {
  width: 0.43rem;
  height: 0.43rem;
  display: inline-block;
  background: url("../images/detail/status.png") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  margin-right: 1.95rem;
  z-index: 9;
}
.ding .rang.last {
  margin-right: 0;
}
.ding .blue.rang {
  background-image: url(../images/detail/status-l.png);
}
.ding .red.rang {
  background-image: url(../images/detail/status-r.png);
}
.ding .on.rang:before {
  content: '';
  position: absolute;
  width: 2.1rem;
  height: 1px;
  background: #CCCCCC;
  top: 50%;
  display: block;
  left: 100%;
}
.ding .blue.on.rang:before {
  background: #2F90F8;
}
.ding .red.on.rang:before {
  background: #F07261;
}
.ding .ons.rang:before {
  content: '';
  position: absolute;
  height: 1.2rem;
  width: 0.6rem;
  top: 0.2rem;
  display: block;
  left: 70%;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 0 0.64rem 0.64rem 0;
  z-index: 8;
}
.ding .blue.ons.rang:before {
  border-color: #2F90F8;
}
.ding .red.ons.rang:before {
  border-color: #F07261;
}
.ding .rang:after {
  content: attr(data-title);
  position: absolute;
  width: 2rem;
  left: 50%;
  margin-left: -1rem;
  font-size: 12px;
  color: #CCCCCC;
  z-index: 6;
}
.ding .blue.rang:after {
  color: #2F90F8;
}
.ding .red.rang:after {
  color: #F07261;
}
.ding .rang.t:after {
  top: -24px;
}
.ding .rang.b:after {
  bottom: -24px;
}
